In [1]:
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
db

In [3]:
import sqlite3
db=sqlite3.connect('School.sqlite')
cur=db.cursor()
cur.execute('create table Student(Roll int primary key,name Text,age int)')
cur.execute('Insert into Student values(101,"Aman",20)')
db.commit()

OperationalError: table Student already exists

In [4]:
cur.execute('Select * from student')

In [6]:
import sqlite3
db=sqlite3.connect('Employee.sqlite')
cur=db.cursor()
cur.execute('create table employeedetail(employeeid int primary key,name text,age int,department text,salary int)')
cur.execute('insert into employeedetail values(100,"Rishav",25,"Marketing",50000)')
cur.execute('insert into employeedetail values(101,"Abhishek",26,"Operations",60000)')
cur.execute('insert into employeedetail values(102,"Aman",24,"Human Resource",75000)')
db.commit()

In [7]:
cur.execute('delete from employeedetail where employeeid=101')
db.commit()

In [8]:
id=102
cur.execute('delete from employeedetail where employeeid=?',(id,))
db.commit()

In [14]:
## Open and read data file as specified in the question
## Print the required output in given format
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]
x=[]
for i in range(len(employee_id)):
    if i<12:
        
        l=[]
        l.append(employee_id[i])
        l.append(name[i])
        l.append(age[i])
        l.append(department[i])
        l.append(salary[i])
        x.append(tuple(l))
    else:
        l=[]
        l.append(employee_id[i])
        l.append("Null")
        l.append(0)
        l.append("Null")
        l.append(0)
        x.append(tuple(l))
print(x)
cur.executemany('Insert into employeedetail values(?,?,?,?,?)',x)
print("Done")

[(101, 'Aadarsh', 25, 'Marketing', 50000), (102, 'Aarti', 27, 'Operations', 60000), (103, 'Siddharth', 25, 'Finance', 85000), (104, 'Aman', 24, 'Human Resource', 75000), (105, 'Amit', 30, 'Marketing', 50000), (106, 'Shivansh', 26, 'IT', 90000), (107, 'Vaibhav', 23, 'Finance', 85000), (108, 'Himanshu', 26, 'IT', 90000), (109, 'Raman', 25, 'Operations', 60000), (110, 'Kunal', 26, 'Marketing', 50000), (111, 'Adhira', 29, 'Human Resource', 75000), (112, 'Tanya', 24, 'Marketing', 50000), (113, 'Null', 0, 'Null', 0)]
Done

In [15]:
db.commit()

In [23]:
import sqlite3
db=sqlite3.connect('Employee.sqlite')
cur=db.cursor()
cur.execute('Select * from employeedetail where department="Finance"')

for i in cur.fetchall():
    print(i[0])

103
107

In [6]:
import sqlite3
db=sqlite3.connect('Employee.sqlite')
cur=db.cursor()
cur.execute('Select distinct department from employeedetail')
x=cur.fetchall()
print(x)

for i in range(len(x)):
    if x[i][0]!="Null":
    
        print(x[i][0],end=' ')
        cur.execute('Select count(*) from employeedetail where department=?',x[i])
        print(cur.fetchall()[0][0])
# print("Marketing 5")
# print("Operations 2")
# print("Finance 2")
# print("Human Resource 2")
# print("IT 2")

[('Marketing',), ('Operations',), ('Finance',), ('Human Resource',), ('IT',), ('Null',)]
6
Marketing 5
Operations 2
Finance 2
Human Resource 2
IT 2

In [1]:
l=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
d={}
for i in l:
    d[i]=d.get(i,0)+1
print(d)

{'Marketing': 4, 'Operations': 2, 'Finance': 2, 'Human Resource': 2, 'IT': 2}

In [38]:
import sqlite3
import pandas as pd
db=sqlite3.connect('IMDB.sqlite')
df=pd.read_sql_query('Select * from genre',db)
vc=df.genre.value_counts()
keys=vc.keys().tolist()
values=vc.tolist()
for i in range(vc.shape[0]):
    if keys[i]!='':
        print(keys[i],end=' ')
        print(values[i])

Drama 77
Adventure 43
Action 33
Comedy 31
Biography 21
Sci-Fi 18
Thriller 14
Romance 13
Animation 13
Crime 11
Fantasy 7
Mystery 7
History 6
Family 3
Sport 3
Music 3
Western 2
Horror 2
War 2
Musical 1

In [4]:
import sqlite3
import pandas as pd
db=sqlite3.connect('IMDB.sqlite')
df=pd.read_sql_query('Select * from earning',db)
df['FinalEarning']=df.Domestic+df.Worldwide
max=0

for i in range(df.shape[0]):
    
    if df.iloc[i,3]>max:
        max=df.iloc[i,3]
        temp=df.iloc[i,0]
        

# print(max)
df=pd.read_sql_query('Select * from IMDB',db)

df[df['Movie_id']==temp].iloc[0,2]

8.1

In [5]:
import sqlite3
import pandas as pd
db=sqlite3.connect('IMDB.sqlite')
df=pd.read_sql_query('Select * from IMDB',db)
max=0
for i in range(df.shape[0]):
    if df.iloc[i,3]>max:
        max=df.iloc[i,3]
        name=df.iloc[i,1]
        rating=df.iloc[i,2]
print(name,end=' ')
print(rating)

Inception (2010) 8.8

In [68]:
import sqlite3
import pandas as pd
db=sqlite3.connect('IMDB.sqlite')
df=pd.read_sql_query('Select * from IMDB',db)
max=0
for i in range(df.shape[0]):
    if df.iloc[i,6]!='':
        
        
        if int(df.iloc[i,6].split()[0])>max:
            max=int(df.iloc[i,6].split()[0])
            name=df.iloc[i,1]
print(name,end=' ')
print(max)

The Wolf of Wall Street (2013) 180

In [3]:
import sqlite3
import pandas as pd
import sys
db=sqlite3.connect('IMDB.sqlite')
df=pd.read_sql_query('Select * from earning,IMDB where IMDB.Movie_id=earning.Movie_id',db)

# 
df['Budget'] = df['Budget'].apply(pd.to_numeric)
df['FinalEarning']=df.Domestic+df.Worldwide-df.Budget

maxProfit=0
leastBudget=sys.maxsize

df.describe()
max=0
for i in range(df.shape[0]):
    
    if df.iloc[i,8]==df.Budget.min():
        if df.iloc[i,55]>max:
            max=df.iloc[i,55]
            temp=df.iloc[i,4]
print(temp)
        


# # print(max)
# df=pd.read_sql_query('Select * from IMDB',db)

# df[df['Movie_id']==temp].iloc[0,2]

Short Term 12 (2013)

In [24]:
import pandas as pd
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
df=pd.read_sql_query('Select * from earning,IMDB where IMDB.Movie_id=earning.Movie_id',db)


df['FinalEarning']=df.Domestic+df.Worldwide
# df['Year']=df.Title.str.split()[::-1]
# df.Year
d={}
for i in range(df.shape[0]):
    key=df.iloc[i,4].split()[-1]
    key= key.split('(', 1)[1].split(')')[0]
    value=df.iloc[i,4]
    if key in d:
        d[key]=d[key].strip()+","+value
        
    else:
        d[key]=value

x=[]
y=[]
for i in d:
    
    
    l=d[i].split(",")
    max=0
    for j in l:
        
        query=df[df.Title==j]
        if query.iloc[0,55]>max:
            max=query.iloc[0,55]
            temp=j
            year=temp.split()[-1].split('(', 1)[1].split(')')[0]
    x.append(year)     
    y.append(temp)
x.sort()
for i in range(len(x)):
    for j in range(len(y)):
        if (y[j].split()[-1]).split('(', 1)[1].split(')')[0]==x[i]:
            print(y[j])

Toy Story 3 (2010)
Rise of the Planet of the Apes (2011)
The Avengers (2012)
The Hunger Games: Catching Fire (2013)
Guardians of the Galaxy (2014)
Star Wars: The Force Awakens (2015)
Rogue One (2016)

In [78]:
l=[1,2,3,4]
l[-1]

4

In [6]:
import pandas as pd
import numpy as np
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
df=pd.read_sql_query('Select genre,budget from genre,IMDB where IMDB.Movie_id=genre.Movie_id and genre not in ("")',db)

df['Budget']=df['Budget'].apply(pd.to_numeric)
df.Budget.replace("",0.0,inplace=True)
df.Budget.replace(np.nan,0.0,inplace=True)

d={}
for i in range(df.shape[0]):
    key=df.iloc[i,0]
    value=df.iloc[i,1]
    if key in d:
        d[key]=d[key]+value
    else:
        d[key]=value

sum=0
for i in d:
    sum=sum+d[i]
l=[]
for i in d:
#     print(i,end=' ')
    l.append(round((d[i]/sum)*100, 2))
#     print(str(round((d[i]/sum)*100, 2)))
l.sort()
total=0
for i in l:
    for j in d:
        if j!="None":
            if float(round((d[j]/sum)*100, 2))==float(i):
                print(j,end=' ')
                print("{:.2f}".format(i))

Horror 0.03
Music 0.15
Musical 0.25
War 0.36
Sport 0.46
Western 0.57
History 0.72
Romance 1.12
Crime 1.77
Family 1.91
Mystery 1.95
Biography 2.59
Thriller 3.99
Fantasy 4.54
Comedy 7.22
Animation 7.66
Sci-Fi 10.77
Drama 10.85
Action 17.98
Adventure 25.10

99.99000000000001

In [3]:
print("{:.2f}".format(5))

5.00

In [11]:
import pandas as pd
import numpy as np
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
df=pd.read_sql_query('Select genre,Domestic,Worldwide from genre,earning where genre.Movie_id=earning.Movie_id and genre not in ("")',db)
df.Domestic.replace("",0.0,inplace=True)
df.Domestic.replace(np.nan,0.0,inplace=True)
df.Worldwide.replace("",0.0,inplace=True)
df.Worldwide.replace(np.nan,0.0,inplace=True)
df['total']=df['Domestic']+df['Worldwide']
df
d={}
for i in range(df.shape[0]):
    key=df.iloc[i,0]
    value=df.iloc[i,3]
    if key in d:
        d[key]=d[key]+value
    else:
        d[key]=value

sum=0
for i in d:
    sum=sum+d[i]
l=[]
for i in d:
#     print(i,end=' ')
    l.append(round((d[i]/sum)*100, 2))
#     print(str(round((d[i]/sum)*100, 2)))
l.sort()
total=0
for i in l:
    for j in d:
        if float(round((d[j]/sum)*100, 2))==float(i):
            print(j,end=' ')
            print("{:.2f}".format(i))

Horror 0.01
War 0.25
Sport 0.32
Musical 0.38
Music 0.43
Western 0.65
History 1.04
Family 1.05
Romance 1.45
Crime 1.55
Mystery 2.01
Biography 3.42
Thriller 4.42
Fantasy 5.15
Animation 6.77
Comedy 7.69
Sci-Fi 9.95
Drama 11.96
Action 17.91
Adventure 23.57

In [14]:
import pandas as pd
import numpy as np
import sqlite3
db=sqlite3.connect('IMDB.sqlite')
df=pd.read_sql_query('select * from genre a,genre b,imdb where a.Movie_id=b.Movie_id and a.Movie_id=imdb.Movie_id and a.genre="Sci-Fi" and b.genre="Mystery" and imdb.Rating>=8',db)
print(df.iloc[0,5])

Arrival (2016)