In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
df=pd.read_csv("autos_prepared.csv")
df.head()

,price,yearOfRegistration,powerPS,kilometer,model,fuelType,name
0,1450,1997,75,90000,andere,fuel,Toyota_Toyota_Starlet_1._Hand__TÜV_neu
1,13100,2005,280,5000,golf,fuel,R32_tauschen_oder_kaufen
2,4500,2008,87,90000,yaris,fuel,Toyota_Yaris_1.3_VVT_i
3,6000,2009,177,125000,3er,diesel,320_Alpinweiss_Kohlenstoff
4,3990,1999,118,90000,3er,fuel,BMW_318i_E46_+++_1._Hand_+++_Liebhaberfahrzeug

In [37]:

x=df[['kilometer']].values
y=df[['price']].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.25)

In [38]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [41]:
y_test_pred=model.predict(x_test)

In [42]:
from sklearn.metrics import r2_score
print(r2_score(y_test,model.predict(x_test)))

0.2957238200669339

In [43]:
model.score(x_test,y_test)

0.2957238200669339