In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv("hotels.csv")
df.head()

   Profit  Price in million  Squaremeters     City
0  119000             21.88          3938   Berlin
1  250000             27.95          3986   Munich
2  250000             16.09          2574  Cologne
3  145000             27.58          4155   Munich
4  110000             23.76          3795   Berlin

In [10]:
df=pd.get_dummies(df,columns=["City"])
df.head()

,Profit,Price in million,Squaremeters,City_Berlin,City_Cologne,City_Munich
0,119000,21.88,3938,1,0,0
1,250000,27.95,3986,0,0,1
2,250000,16.09,2574,0,1,0
3,145000,27.58,4155,0,0,1
4,110000,23.76,3795,1,0,0

In [11]:
del df['City_Munich']

In [12]:
from sklearn.linear_model import LinearRegression
x=df[['Profit','Squaremeters','City_Berlin','City_Cologne']].values
y=df[['Price in million']].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.2)

In [14]:
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [15]:
model.score(x_test,y_test)

0.9670058863059939