In [77]:
from sklearn import datasets
import pandas as pd
import math

In [13]:
iris = datasets.load_iris()

In [14]:
df = pd.DataFrame(iris.data)
df.columns = ["sl", "sw", 'pl', 'pw']

In [15]:
#Function to find label for a value
#if MIN_Value <=val < (m + Mean_Value) / 2 then it is assigned label a
#if (m + Mean_Value) <=val < Mean_Value then it is assigned label b
#if (Mean_Value) <=val < (Mean_Value + MAX_Value)/2 then it is assigned label c
#if (Mean_Value + MAX_Value)/2 <=val <= MAX_Value  then it is assigned label d

def label(val, *boundaries):
    if (val < boundaries[0]):
        return 'a'
    elif (val < boundaries[1]):
        return 'b'
    elif (val < boundaries[2]):
        return 'c'
    else:
        return 'd'

#Function to convert a continuous data into labelled data
#There are 4 lables  - a, b, c, d
def toLabel(df, old_feature_name):
    second = df[old_feature_name].mean()
    minimum = df[old_feature_name].min()
    first = (minimum + second)/2
    maximum = df[old_feature_name].max()
    third = (maximum + second)/2
    return df[old_feature_name].apply(label, args= (first, second, third))

In [16]:
#Convert all columns to labelled data
df['sl_labeled'] = toLabel(df, 'sl')
df['sw_labeled'] = toLabel(df, 'sw')
df['pl_labeled'] = toLabel(df, 'pl')
df['pw_labeled'] = toLabel(df, 'pw')

In [17]:
df.drop(['sl', 'sw', 'pl', 'pw'], axis = 1, inplace = True)

In [76]:
set(df['sl_labeled'])

{'a', 'b', 'c', 'd'}

In [19]:
def build_tree(df, y, unused_features):
    #base case
    # 1. unused is empty
    # 2. y contains only one distinct value
    if len(unused_features) <= 0:
        return
    if len(set(y)) == 1:
        return
    
    max_gain = 0
    best_feature = ""
    for f in unused_features:
        possible_values = set(df[f])
        for value in possible_values:
            
        gain_f = gain(df, y, f)
        # loop over possible values : val
        # find subset of df & y with f == val
        # find number of mistakes in this subset 
        # if we predict the most common y as the output
        # find sum of all these mistakes
        # update best feature so that that particular feature
        # makes least number of mistakes
        
    # here you should know the best feature
    # print it out
    print("Best Feature ", best_feature)
    
    # remove best feature from unused features
    # loop over possible values of best feature
    # call build tree recursively

In [48]:
y = pd.DataFrame(iris.target)
unused_features = set(df.columns)
build_tree(df, y, unused_features)

Best Feature

In [ ]:
def value(a, b):
    return -(a/b)*math.log10(a/b)

In [34]:
def gain(df, y, f):
    import math
    info = 
    info_gain = 0
    split_info = 0
    
    possible_values = set(df[f])
    
    for value in possible_values:

In [46]:
def info(y, df, f, value):
    info_n = 0
    possible_yvalues = set(y[0])
    for yvalue in possible_values:
        t = len(y[y.loc[:,0]==yvalue && df[f] == value])/len(y)
        info_n += -( t * math.log10(t) )

     0
1    0
2    0
3    0
4    0
6    0
7    0
8    0
9    0
11   0
12   0
13   0
22   0
24   0
25   0
26   0
29   0
30   0
34   0
35   0
37   0
38   0
40   0
41   0
42   0
43   0
45   0
47   0
49   0
57   1
60   1
93   1
106  2

In [75]:
df["sl_labeled"] =="b"

0       True
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10      True
11     False
12     False
13     False
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22     False
23      True
24     False
25     False
26     False
27      True
28      True
29     False
       ...
120    False
121     True
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142     True
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Name: sl_labeled, Length: 150, dtype: bool

In [71]:
values = {0,1,2}
for v in values:
    print(len(y[y.loc[:,0]==v && df.]))

50
50
50