In [1]:
import numpy as np

In [2]:
np.where([True, False], [1, 2], [3, 4])

array([1, 4])

In [3]:
noten = np.array([1, 2, 3, 4, 5, 6])

In [4]:
print(noten <= 4)

[ True  True  True  True False False]

In [5]:
np.where(noten <= 4, "passed", "not passed")

array(['passed', 'passed', 'passed', 'passed', 'not passed', 'not passed'],
      dtype='<U10')

In [6]:
import pandas as pd

df = pd.read_csv("diamonds.csv")

# https://www.kaggle.com/shivam2503/diamonds/data
# Color: from J (worst) to D (best)

# Idea: We summarize the column "color". 
# A D becomes a 1,
# Everyone else becomes a 0

In [19]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [23]:
df["color"] = np.where(df["color"] == "D", 1, 0)

In [25]:
df.head()

   carat      cut  color clarity  depth  table  price     x     y     z
0   0.23    Ideal      0     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium      0     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good      0     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium      0     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good      0     SI2   63.3   58.0    335  4.34  4.35  2.75

In [26]:
df["cut"] = np.where(df["cut"] == "Premium", "Premium++", df["cut"])

In [27]:
df.head()

   carat        cut  color clarity  depth  table  price     x     y     z
0   0.23      Ideal      0     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium++      0     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good      0     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium++      0     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good      0     SI2   63.3   58.0    335  4.34  4.35  2.75