In [2]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df.head()

   Profit  Price in million  Squaremeters     City
0  119000             21.88          3938   Berlin
1  250000             27.95          3986   Munich
2  250000             16.09          2574  Cologne
3  145000             27.58          4155   Munich
4  110000             23.76          3795   Berlin

In [4]:
X = df[["Profit", "Squaremeters"]].values
Y = df[["Price in million"]].values

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state = 0, test_size = 0.25)

In [6]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [6]:
print(model.intercept_)

[ 6.48370247]

In [7]:
print(model.coef_)

[[  6.39855984e-06   3.89642288e-03]]

In [7]:
# 6.48370247 + [Profit] * 6.39855984e-06 + [Squaremeters] * 3.89642288e-03

In [9]:
y_test_pred = model.predict(X_test)

In [10]:
for i in range(0, len(y_test_pred)):
    print(str(y_test_pred[i][0]) + " - " + str(y_test[i][0]))

15.4842877705 - 14.56
19.258489367 - 16.32
13.0593775565 - 13.09
25.4906851541 - 22.87
6.81600626706 - 8.94
21.6278221281 - 19.13
13.8979465655 - 13.77
11.4855258214 - 9.63
13.3629954328 - 10.41
30.3007456934 - 32.78
14.5445087587 - 12.98
24.7863676945 - 23.6
22.5185359125 - 20.27
17.36475207 - 21.26
14.6587811011 - 13.86
9.37005463225 - 9.76
21.4198204374 - 24.81
6.94709035906 - 6.62
11.3522260273 - 8.69
17.6566973512 - 14.16
29.2710367641 - 28.49
7.17558502307 - 6.95
21.8860347857 - 22.4
21.6532814868 - 24.87
19.909575415 - 16.94
16.7392814764 - 15.54
27.3497380721 - 24.78
28.5381849391 - 30.14
13.8900779426 - 16.15
12.5019193233 - 17.75
10.6858998262 - 7.91
9.42238885052 - 7.98
10.1289644421 - 6.73
9.83562033361 - 6.3
15.9079870055 - 13.21
13.0009478869 - 10.94
17.3297221527 - 19.59
18.3506607244 - 15.18

In [1]:
y_test

NameError: name 'y_test' is not defined