In [1]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df.head()

   Profit  Price in million  Squaremeters     City
0  119000             21.88          3938   Berlin
1  250000             27.95          3986   Munich
2  250000             16.09          2574  Cologne
3  145000             27.58          4155   Munich
4  110000             23.76          3795   Berlin

In [10]:
X = df[["Profit","Squaremeters"]].values
Y = df[["Price in million"]].values

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state = 0, test_size = 0.25)

In [13]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
print(model.intercept_)

[6.48370247]

In [15]:
print(model.coef_)

[[6.39855984e-06 3.89642288e-03]]

In [16]:
# Price = 6.48370247 + [Profit] * 6.39855984e-06 + [Squaremeters] * 3.89642288e-03

In [32]:
y_test_pred = model.predict(X_test)

In [34]:
for i in range(0, len(y_test_pred)):
    print(str(y_test_pred[i][0]) + " - " + str(y_test[i][0]))

15.484287770456307 - 14.56
19.25848936697959 - 16.32
13.059377556544968 - 13.09
25.49068515406285 - 22.87
6.816006267056254 - 8.94
21.62782212809594 - 19.13
13.89794656549663 - 13.77
11.48552582135802 - 9.63
13.362995432755914 - 10.41
30.30074569339602 - 32.78
14.544508758730888 - 12.98
24.786367694531798 - 23.6
22.5185359125309 - 20.27
17.364752070043465 - 21.26
14.658781101070204 - 13.86
9.370054632254533 - 9.76
21.419820437400862 - 24.81
6.947090359060697 - 6.62
11.352226027295268 - 8.69
17.656697351169136 - 14.16
29.271036764081234 - 28.49
7.175585023072502 - 6.95
21.886034785667135 - 22.4
21.653281486765614 - 24.87
19.90957541499908 - 16.94
16.73928147636494 - 15.54
27.349738072086634 - 24.78
28.538184939132954 - 30.14
13.890077942623035 - 16.15
12.501919323322051 - 17.75
10.68589982620841 - 7.91
9.422388850520345 - 7.98
10.128964442111496 - 6.73
9.835620333614969 - 6.3
15.907987005493151 - 13.21
13.00094788689616 - 10.94
17.329722152677313 - 19.59
18.350660724427478 - 15.18