In [2]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df.head()

   Profit  Price in million  Squaremeters     City
0  119000             21.88          3938   Berlin
1  250000             27.95          3986   Munich
2  250000             16.09          2574  Cologne
3  145000             27.58          4155   Munich
4  110000             23.76          3795   Berlin

In [3]:
X = df[["Profit", "Squaremeters"]].values
Y = df[["Price in million"]].values

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state = 0, test_size = 0.25)

In [5]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

print(model)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [6]:
y_test_pred = model.predict(X_test)

In [7]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_test_pred)
print(r2)

0.8783249527580934

In [8]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

print(model.score(X_test, y_test))

0.8783249527580934