In [28]:
from sklearn import datasets
import pandas as pd
import  numpy as np
data=datasets.load_iris()
df = pd.DataFrame(data['data'], columns=data['feature_names'])
df['target'] = data['target']
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [29]:
feature_list=data['feature_names']
feature_list

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [30]:
x=df[feature_list]
y=df['target']

In [35]:
# Define Entropy and Information Gain

def entropy(col):
    counts=np.unique(col,return_counts=True)
    
    N= float(col.shape[0])
    ent=0.0
    
    for ix in counts[1]:
        p=ix/N
        ent=ent+(-1.0*p*np.log2(p))
    return ent

In [36]:
entropy(y)

1.584962500721156