In [29]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df.sort_values("City")

     Profit  Price in million  Squaremeters    City
0    119000             21.88          3938  Berlin
81    25000              9.07          1002  Berlin
80   124000             26.31          5201  Berlin
77    64000             14.90          2220  Berlin
148   35000             15.80          2281  Berlin
66     4000              6.95           171  Berlin
65    97000             16.55          2301  Berlin
62    71000             16.32          3162  Berlin
61   121000             22.99          3944  Berlin
56    99000             14.97          2409  Berlin
55   250000             20.43          3249  Berlin
53   141000             21.93          3896  Berlin
52    87000             24.43          4044  Berlin
51    83000             23.60          4561  Berlin
46    91000             19.76          3107  Berlin
43    73000              9.88           756  Berlin
84    19000              7.98           723  Berlin
41    18000              7.77           502  Berlin
90     3000              6.62           114  Berlin
95    20000              8.97           396  Berlin
147   32000             12.86          1668  Berlin
144  159000             21.40          3078  Berlin
140  250000             29.45          5256  Berlin
138  187000             24.90          4008  Berlin
134  227000             12.98          1696  Berlin
133  104000             19.87          3374  Berlin
128  192000             23.82          3708  Berlin
123   48000             17.86          3302  Berlin
122  125000             21.27          3309  Berlin
120  250000             31.79          5607  Berlin
..      ...               ...           ...     ...
7      2000              8.94            82  Munich
54    99000             21.26          2630  Munich
19   182000             18.64          2001  Munich
118  121000             27.27          4151  Munich
85    23000             12.08           760  Munich
87    96000             23.05          3168  Munich
21     5000              7.84            82  Munich
89    45000             17.71          1873  Munich
17    26000             13.84          1257  Munich
78    97000             24.81          3674  Munich
94    85000             11.90           647  Munich
75   250000             27.94          4436  Munich
97   142000             30.14          5427  Munich
101  128000             16.51          1127  Munich
14   250000             19.32          1831  Munich
26    32000             17.75          1492  Munich
103   67000             20.95          2770  Munich
71   250000             32.78          5702  Munich
70    66000             22.42          2795  Munich
108   34000             18.30          2501  Munich
68    13000             12.10           304  Munich
110   89000             27.96          4494  Munich
111  176000             20.54          2671  Munich
112  250000             35.35          5549  Munich
25   124000             23.44          3122  Munich
115   76000             18.78          2186  Munich
82    58000             19.93          3306  Munich
117   33000             16.04          1505  Munich
13    62000             17.08          1941  Munich
93    62000             16.15          1799  Munich

[150 rows x 4 columns]

In [24]:
X = df[["Profit", "Squaremeters"]].values
Y = df[["Price in million"]].values

In [25]:
X[[1,2]]

array([[250000,   3986],
       [250000,   2574]], dtype=int64)

In [30]:
KFold?

In [33]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

kf = KFold(n_splits=3, shuffle=True)

kf.split(X)

for train_index, test_index in kf.split(X):
    print("train:" + str(train_index))
    print("test:" + str(test_index))
    print("-----------")
    X_train = X[train_index]
    X_test = X[test_index]
       
    y_train = Y[train_index]
    y_test = Y[test_index]
    
    # Linear Regression training
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    print(model.score(X_test, y_test))

train:[  0   1   2   3   4   5   6   7   8   9  10  11  15  16  17  18  19  20
  22  24  26  28  29  31  32  34  35  37  38  39  40  41  42  44  46  47
  49  50  51  53  54  57  58  59  60  62  66  67  69  72  74  77  78  80
  82  83  85  87  89  91  93  96  97  98  99 100 103 104 105 106 110 111
 112 113 114 115 116 118 119 120 121 122 123 124 125 126 127 134 135 136
 137 139 141 143 144 145 146 147 148 149]
test:[ 12  13  14  21  23  25  27  30  33  36  43  45  48  52  55  56  61  63
  64  65  68  70  71  73  75  76  79  81  84  86  88  90  92  94  95 101
 102 107 108 109 117 128 129 130 131 132 133 138 140 142]
-----------
0.8760889031946512
train:[  3   5   7  12  13  14  16  17  20  21  23  25  26  27  29  30  32  33
  36  37  40  41  43  44  45  47  48  49  50  52  54  55  56  58  60  61
  63  64  65  66  67  68  70  71  72  73  74  75  76  78  79  80  81  84
  85  86  88  90  91  92  93  94  95  98 100 101 102 103 105 107 108 109
 110 111 113 115 116 117 118 122 123 126 127 128 129 130 131 132 133 138
 139 140 141 142 144 145 146 147 148 149]
test:[  0   1   2   4   6   8   9  10  11  15  18  19  22  24  28  31  34  35
  38  39  42  46  51  53  57  59  62  69  77  82  83  87  89  96  97  99
 104 106 112 114 119 120 121 124 125 134 135 136 137 143]
-----------
0.7991270219061749
train:[  0   1   2   4   6   8   9  10  11  12  13  14  15  18  19  21  22  23
  24  25  27  28  30  31  33  34  35  36  38  39  42  43  45  46  48  51
  52  53  55  56  57  59  61  62  63  64  65  68  69  70  71  73  75  76
  77  79  81  82  83  84  86  87  88  89  90  92  94  95  96  97  99 101
 102 104 106 107 108 109 112 114 117 119 120 121 124 125 128 129 130 131
 132 133 134 135 136 137 138 140 142 143]
test:[  3   5   7  16  17  20  26  29  32  37  40  41  44  47  49  50  54  58
  60  66  67  72  74  78  80  85  91  93  98 100 103 105 110 111 113 115
 116 118 122 123 126 127 139 141 144 145 146 147 148 149]
-----------
0.8064474390945432