In [3]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df.head()

   Profit  Price in million  Squaremeters     City
0  119000             21.88          3938   Berlin
1  250000             27.95          3986   Munich
2  250000             16.09          2574  Cologne
3  145000             27.58          4155   Munich
4  110000             23.76          3795   Berlin

In [4]:
X = df[["Profit", "Squaremeters"]].values
Y = df[["Price in million"]].values

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

import numpy as np
scores = cross_val_score(LinearRegression(), X, Y, cv=KFold(n_splits = 10, shuffle=True))
print(scores)
print(np.mean(scores))

[0.70125657 0.679638   0.74195593 0.79953528 0.85014363 0.73607302
 0.86470872 0.85271979 0.86131535 0.9185312 ]
0.8005877491426798