In [2]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df.head()

   Profit  Price in million  Squaremeters     City
0  119000             21.88          3938   Berlin
1  250000             27.95          3986   Munich
2  250000             16.09          2574  Cologne
3  145000             27.58          4155   Munich
4  110000             23.76          3795   Berlin

In [3]:
X = df[["Profit", "Squaremeters"]].values
Y = df[["Price in million"]].values

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold

import numpy as np
RepeatedKFold?
scores = cross_val_score(LinearRegression(), X, Y, cv = RepeatedKFold(n_repeats=1000))

print(scores)
print(np.mean(scores))

[0.85783952 0.8345059  0.83686993 ... 0.7999732  0.75313881 0.78997496]
0.8172616382198316

In [ ]:
#0.8074401582607266