In [2]:
import pandas as pd
iris=pd.read_csv("C:\\Users\\Soumyansh\\Desktop\\A.csv")
df=iris.copy()
df.head()

     Year  Month  Day     ...                                          Group                  Target_type Weapon_type
0     NaN    NaN   11     ...                          Lashkar-e-Taiba (LeT)               Transportation  Explosives
1     NaN    NaN   25     ...      Students Islamic Movement of India (SIMI)  Private Citizens & Property  Explosives
2  2008.0    NaN   26     ...                              Deccan Mujahideen                     Business  Explosives
3  2008.0   11.0   26     ...                              Deccan Mujahideen               Transportation    Firearms
4  2008.0   11.0   26     ...                              Deccan Mujahideen                     Business  Explosives

[5 rows x 18 columns]

In [4]:
df.isnull().sum()

Year           2
Month          3
Day            0
Country        0
State          0
Region         0
City           0
Latitude       0
Longitude      0
AttackType     0
Killed         0
Wounded        0
Casualities    0
Target         0
Summary        9
Group          0
Target_type    0
Weapon_type    0
dtype: int64

In [5]:
df.describe()

              Year      Month        Day   Latitude  Longitude      Killed     Wounded  Casualities
count    45.000000  44.000000  47.000000  47.000000  47.000000   47.000000   47.000000    47.000000
mean   2004.333333   6.886364  19.148936  21.556246  78.550813   10.936170   34.489362    45.425532
std       6.895321   3.648612   8.841549   3.453533   8.112074   30.298805  120.347662   149.063708
min    1989.000000   1.000000   1.000000  18.906703  72.814712    0.000000    0.000000     0.000000
25%    2000.000000   3.000000  13.000000  19.075984  72.877656    0.000000    0.000000     1.500000
50%    2006.000000   7.500000  20.000000  19.075984  72.877656    1.000000    1.000000     6.000000
75%    2008.000000  11.000000  26.500000  23.831862  91.280218    7.500000   24.500000    31.500000
max    2017.000000  12.000000  30.000000  33.750993  91.287127  188.000000  817.000000  1005.000000

In [92]:
import pandas as pd
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df=iris.copy()
print(df.describe())
df.columns=['sl','sw','pl','pw','Species']

length=df.Species.unique().size
for i in range(length):
    
    print(len(df[df.Species==(df.Species.unique()[i])]),end=' ')

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000
49 50 50

In [91]:
import pandas as pd
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df=iris.copy()
df.columns=['sl','sw','pl','pw','Species']

df1=df[(df.Species=='Iris-virginica') & (df.pl>1.5)]

rows=df1.shape[0]
cols=df1.shape[1]

for i in range(rows):
    for j in range(cols):
        print(df1.iloc[i,j],end=' ')
    print()

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

In [138]:
import pandas as pd
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df=iris.copy()
df.columns=['sl','sw','pl','pw','Species']

df1=df[df.Species=='Iris-setosa'].describe()
df2=df[df.Species=='Iris-versicolor'].describe()
df3=df[df.Species=='Iris-virginica'].describe()

print(df1)
cols=4
min=3
max=7
avg=1


for i in range(cols):
    
    print("{0:.2f}".format(df1.iloc[min,i]),end=' ')
print('iris-setosa')
print()
for i in range(cols):
    print("{0:.2f}".format(df1.iloc[max,i]),end=' ')
print('iris-setosa')
print()
for i in range(cols):
    print("{0:.2f}".format(df1.iloc[avg,i]),end=' ')
print('iris-setosa')
print()

for i in range(cols):
    print("{0:.2f}".format(df2.iloc[min,i]),end=' ')
print('Iris-versicolor')
print()
for i in range(cols):
    print("{0:.2f}".format(df2.iloc[max,i]),end=' ')
print('Iris-versicolor')
print()
for i in range(cols):
    print("{0:.2f}".format(df2.iloc[avg,i]),end=' ')
print('Iris-versicolor')
print()

for i in range(cols):
    print("{0:.2f}".format(df3.iloc[min,i]),end=' ')
print('Iris-virginica')
print()
for i in range(cols):
    print("{0:.2f}".format(df3.iloc[max,i]),end=' ')
print('Iris-virginica')

for i in range(cols):
    print("{0:.2f}".format(df3.iloc[avg,i]),end=' ')
print('Iris-virginica')

              sl         sw         pl         pw
count  49.000000  49.000000  49.000000  49.000000
mean    5.004082   3.416327   1.465306   0.244898
std     0.355879   0.384787   0.175061   0.108130
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.100000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000
4.30 2.30 1.00 0.10 iris-setosa

5.80 4.40 1.90 0.60 iris-setosa

5.00 3.42 1.47 0.24 iris-setosa

4.90 2.00 3.00 1.00 Iris-versicolor

7.00 3.40 5.10 1.80 Iris-versicolor

5.94 2.77 4.26 1.33 Iris-versicolor

4.90 2.20 4.50 1.40 Iris-virginica

7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

In [129]:
float(str(8.9999)[:4])

8.99

In [139]:
import pandas as pd
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df=iris.copy()
df.columns=['sl','sw','pl','pw','Species']
df

      sl   sw   pl   pw         Species
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [36]:
import pandas as pd
iris=pd.read_csv("D:\\Dropbox\\terrorismData.csv")
df=iris.copy()




d={}
max=0
for i in df.Country:
    d[i]=d.get(i,0)+1

for j in d:
    if(d[j]>max):
        max=d[j]
        temp=j

print(temp,end=' ')
print(max,end=' ')
df=df[(df.Country==temp)]
max2=0
for i in df.Year:
    d[i]=d.get(i,0)+1
    if d[i]>max2:
        max2=d[i]
        temp2=i

print(temp2)

Iraq 24636 2014

In [64]:
import pandas as pd
iris=pd.read_csv("D:\\Dropbox\\terrorismData.csv")
df=iris.copy()

df1=df[df.Killed==df.Killed.max()]
print(int(df1.iloc[0,10]),end=' ')
print(df1.iloc[0,3],end=' ')
print(df1.iloc[0,14])

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

In [96]:
import pandas as pd
iris=pd.read_csv("D:\\Dropbox\\terrorismData.csv")
df=iris.copy()
df=df[(df.Country=='India') & (df.Day!=0) & (df.Month!=0)]

df['Date']=pd.to_datetime(df[['Year', 'Month', 'Day']])

df=df[(df.Date>='2014-05-26')]
print(df.shape[0],end=' ')
d={}
for i in df.Group:
    if(i!='Unknown'):
        d[i]=d.get(i,0)+1

max=0
for i in d:
    if d[i]>max:
        max=d[i]
        temp=i
print(temp)

3336 Maoists

In [125]:
import pandas as pd
iris=pd.read_csv("D:\\Dropbox\\terrorismData.csv")
df=iris.copy()
df.Killed.fillna(0,inplace=True)
df.Wounded.fillna(0,inplace=True)
df['Casuality']=df['Killed']+df['Wounded']
df1=df[df.State=='Jammu and Kashmir']

freq1=df1.Casuality.sum()//df1.Year.nunique()

df2=df[(df.State=='Jharkhand') | (df.State=='Odisha') | (df.State=='Andhra Pradesh') | (df.State=='Chhattisgarh')]
freq2=df2.Casuality.sum()//df2.Year.nunique()
print(freq2,end=" ")
print(freq1)

2.0 5.0