In [1]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df.head()

   Profit  Price in million  Squaremeters     City
0  119000             21.88          3938   Berlin
1  250000             27.95          3986   Munich
2  250000             16.09          2574  Cologne
3  145000             27.58          4155   Munich
4  110000             23.76          3795   Berlin

In [19]:
print(len(df))

150

In [41]:
scores = []
for i in range(0,100):
    # Extract values from DataFrame
    X = df[["Profit","Squaremeters"]].values
    Y = df[["Price in million"]].values

    # Train / Test
    from sklearn.model_selection import train_test_split

    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25)

    # Linear Regression
    from sklearn.linear_model import LinearRegression

    model = LinearRegression()
    model.fit(X_train, y_train)

    scores.append(model.score(X_test, y_test))
    
print(sum(scores) / len(scores))

0.8377605477811527
0.7842570960867159
0.7763763717218094
0.8431211904566281
0.8153345237817361
0.8217530488725466
0.8214022603505653
0.816310000508493
0.7383500657317444
0.8694682815551017
0.8418248444609332
0.8423162124454492
0.8131114150861987
0.8193979733779985
0.8571186446387887
0.8106433946297718
0.8001522647432916
0.8271507276126191
0.8076325900389718
0.7990552645758049
0.7561292013696397
0.8330838870700581
0.8306722441290119
0.8457402615467056
0.8256672661740472
0.8381238262080094
0.8651094662254163
0.788148148792094
0.8661993059463907
0.8303347281335542
0.8529117259688674
0.8496260587272342
0.7846280471118678
0.7169908010460873
0.8361529290197199
0.8075790224142386
0.8390231616070116
0.8362489237656091
0.8012430142311491
0.8358630718810475
0.8817740602136738
0.8339872829888479
0.7820783491401753
0.8629175876001275
0.8218056017304702
0.8197755137068579
0.8727922084618517
0.8320573708858863
0.8689097789984197
0.8506016354956756
0.8385470843242095
0.817014856330057
0.7792469664345858
0.8249359789822948
0.8299840522357678
0.8354590444487301
0.7766479933866552
0.8489279255508753
0.7027950713658913
0.8252101717851998
0.7755138225387236
0.8715510569495026
0.7728303138531712
0.850024442110147
0.8116071328010243
0.7097928516457299
0.8524199817656077
0.7911383573607853
0.8150680545861517
0.8172053030161077
0.8290029301687993
0.8331150108785952
0.7895875424888887
0.8421787398014351
0.8231604408863611
0.8429041374271036
0.8175535402151871
0.7714830957792413
0.8698183116176232
0.8208212233216299
0.8211949099986954
0.7929595342252039
0.7900653018834597
0.8004199636816924
0.811346438999807
0.7885380915761878
0.8128658400945511
0.8623189473952969
0.8297955624465311
0.8658770777406023
0.7519301599060161
0.8382172263897882
0.7869717825596431
0.7735694828385415
0.8064808952309301
0.8304182101485327
0.832463270375297
0.8163414697979445
0.781372470614069
0.8192112414503898
0.8180661451045533