In [1]:
import pandas as pd

df = pd.read_csv("./hotels.csv")[:6]

df

   Profit  Price in million  Squaremeters     City
0  119000             21.88          3938   Berlin
1  250000             27.95          3986   Munich
2  250000             16.09          2574  Cologne
3  145000             27.58          4155   Munich
4  110000             23.76          3795   Berlin
5  246000             22.88          2773   Munich

In [2]:
X = df[["Profit", "Squaremeters"]].values
Y = df[["Price in million"]].values

In [3]:
X

array([[ 119000.,    3938.],
       [ 250000.,    3986.],
       [ 250000.,    2574.],
       [ 145000.,    4155.],
       [ 110000.,    3795.],
       [ 246000.,    2773.]])

In [4]:
X[[0, 4]]

array([[ 119000.,    3938.],
       [ 110000.,    3795.]])

In [6]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

kf = KFold()

for train_index, test_index in kf.split(X):
    print("train: " + str(train_index))
    print("test: " + str(test_index))
    print("-----------")
    X_test = X[test_index]
    X_train = X[train_index]
    
    y_test = Y[test_index]
    y_train = Y[train_index]
    
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    print(model.score(X_test, y_test))

train: [2 3 4 5]
test: [0 1]
-----------
-0.234374061508
train: [0 1 4 5]
test: [2 3]
-----------
0.288175028633
train: [0 1 2 3]
test: [4 5]
-----------
-87.1944112959