In [1]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df = pd.get_dummies(df, columns = ["City"])

df.head()

,Profit,Price in million,Squaremeters,City_Berlin,City_Cologne,City_Munich
0,119000,21.88,3938,1,0,0
1,250000,27.95,3986,0,0,1
2,250000,16.09,2574,0,1,0
3,145000,27.58,4155,0,0,1
4,110000,23.76,3795,1,0,0

In [2]:
Y = df[["Price in million"]].values

In [3]:
# Option 1: Explicitly list which columns we want to have in X
X = df[["Profit", "Squaremeters", "City_Berlin", "City_Cologne"]].values

# Option 2: Explicitly list which columns we want **not** to have in X
# df.drop(labels = ["Price in million", "City_Munich"], axis = 1).values

In [15]:
# Train / Test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state = 0, test_size = 0.25)

# Linear Regression
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

print(model.score(X_test, y_test))

0.9688135511825554

In [20]:
model.predict([[10000,300,1,0],[10000,300,0,1],[10000,300,0,0]])

array([[ 7.40227993],
       [ 4.45206364],
       [10.67790414]])

In [21]:
model.coef_

array([[ 1.13058247e-05,  3.88104273e-03, -3.27562421e+00,
        -6.22584051e+00]])

In [ ]:
# 1.13058247e-05* Profit + 3.88104273e-03 * Squaremeters -3.27562421e+00 * City_Berlin -6.22584051e+00* City_Cologne