In [2]:
import pandas as pd

df = pd.read_csv("./fields.csv")

In [3]:
df.head()

   length    profit   width
0   561.0  286451.0  1226.0
1   521.0  254967.0   529.0
2    87.0  307561.0  1265.0
3   163.0  233780.0  1018.0
4   202.0  434554.0  1444.0

In [10]:
import numpy as np

numbers = np.array([1,2,3,4,5,6,7,8,9])

print(numbers-2)

[-1  0  1  2  3  4  5  6  7]

In [14]:


print(numbers[[4,7]])

[5 8]